.dots-wrapper div{
	 
		display: -ms-flexbox;
		display: inline-block;
		margin: 5px;
	place-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}



}

 .dots-wrapper button{
	 display: none;
}
 .dots-wrapper button {
	 display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px 12px 0px 15px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 30%;
  border: 1.5px solid blueviolet;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 20px;
}

 .dot {
	 transform: scale(1.5);
	 color: #fff;
	 text-shadow: 1px 1px 0 #000;
}

 .dots-wrapper button#color-1  {
	background-image: url("images/iceblue.png");
	 animation: scale-up 1s cubic-bezier(2.39, 0.575, 0.565, 1) 1s;
}
 .dots-box:nth-child(1) .dot::before {
	 content: &#34;
	1&#34;
	;
}
 .dots-box button#color-1:hover {
	 box-shadow: 0 0 20px rgba(174, 214, 241 );
}




 .dots-wrapper button#color-2 {
	 background-image: url("images/skyblue.png");
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
}
 .dots-box:nth-child(2) .dot::before {
	 content: &#34;
	2&#34;
	;
}
 .dots-box button#color-2:hover {
	 box-shadow: 0 0 20px rgba(133, 193, 233 );
}



 .dots-wrapper button#color-3 {
	background-image: url(images/brillantblue.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s;
}
 .dots-box:nth-child(3) .dot::before {
	 content: &#34;
	3&#34;
	;
}
 .dots-box button#color-3:hover {
	 box-shadow: 0 0 20px rgba(3, 67, 250);
}



 .dots-wrapper button#color-4{
	background-color: #242d73;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s;
}
 .dots-box:nth-child(4) .dot::before {
	 content: &#34;
	4&#34;
	;
}
 .dots-box button#color-4:hover {
	 box-shadow: 0 0 20px rgba(31, 97, 141 );
}



 .dots-wrapper button#color-5{
	  background-color: #00084f;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s;
}
 .dots-box:nth-child(5) .dot::before {
	 content: &#34;
	5&#34;
	;
}
 .dots-box button#color-5:hover {
	 box-shadow: 0 0 20px rgba(21, 67, 96);
}



.dots-wrapper button#color-6 {
	 background-color: #e1dfe0;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 3s;
}
 .dots-box:nth-child(6) .dot::before {
	 content: &#34;
	6&#34;
	;
}
 .dots-box button#color-6:hover {
	 box-shadow: 0 0 20px rgba(204, 209, 209 );
}




.dots-wrapper button#color-7{
	 background-color: #818181;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s;
}
 .dots-box:nth-child(7) .dot::before {
	 content: &#34;
	7&#34;
	;
}
 .dots-box button#color-7:hover {
	 box-shadow: 0 0 20px rgba(171, 178, 185 );
}



 .dots-wrapper button#color-8{
	background-color: #424446;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 4s;
}
 .dots-box:nth-child(8) .dot::before {
	 content: &#34;
	8&#34;
	;
}
 .dots-box button#color-8:hover {
	 box-shadow: 0 0 20px rgba(86, 101, 115);
}



 .dots-wrapper button#color-9{
	background-image: url(images/yellow.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 4.5s;
}
 .dots-box:nth-child(9) .dot::before {
	 content: &#34;
	9&#34;
	;
}
 .dots-box button#color-9:hover {
	 box-shadow: 0 0 20px rgba(243, 232, 7);
}





 .dots-wrapper button#color-10{
	background-image: url(images/signalyellow.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 5s;
}
 .dots-box:nth-child(10) .dot::before {
	 content: &#34;
	10&#34;
	;
}
 .dots-box button#color-10:hover {
	 box-shadow: 0 0 20px rgba(245, 176, 65);
}





 .dots-wrapper button#color-11{
	  background-color: #ff7011;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 5.5s;
}
 .dots-box:nth-child(11) .dot::before {
	 content: &#34;
	11&#34;
	;
}
 .dots-box button#color-11:hover {
	 box-shadow: 0 0 20px rgba(211, 84, 0);
}




 .dots-wrapper button#color-12{
	 background-color: #fb3c04;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 6s;
}
 .dots-box:nth-child(12) .dot::before {
	 content: &#34;
	12&#34;
	;
}
 .dots-box button#color-12:hover {
	 box-shadow: 0 0 20px rgba(252, 123, 9);
}




 .dots-wrapper button#color-13{
	 background-image: url(images/orangered.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 6.5s;
}
 .dots-box:nth-child(13) .dot::before {
	 content: &#34;
	13&#34;
	;
}
 .dots-box button#color-13:hover {
	 box-shadow: 0 0 20px rgba(252, 87, 9);
}



 .dots-wrapper button#color-14{
	 background-color: #c70303;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 7s;
}
 .dots-box:nth-child(14) .dot::before {
	 content: &#34;
	14&#34;
	;
}
 .dots-box button#color-14:hover {
	 box-shadow: 0 0 20px rgba(252, 9, 9 );
}





 .dots-wrapper button#color-15{
	 background-color:  #960a03;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 7.5s;
}
 .dots-box:nth-child(15) .dot::before {
	 content: &#34;
	15&#34;
	;
}
 .dots-box button#color-15:hover{
	 box-shadow: 0 0 20px rgba(150, 28, 28 );
}



 .dots-wrapper button#color-16{
	background-color: #fbdc80;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 8s;
}
 .dots-box:nth-child(16) .dot::before {
	 content: &#34;
	16&#34;
	;
}
 .dots-box button#color-16:hover {
	 box-shadow: 0 0 20px rgba(253, 235, 208);
}
 .dots-wrapper button#color-17{
	background-color: #24d39b;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 8.5s;
}
 .dots-box:nth-child(17) .dot::before {
	 content: &#34;
	17&#34;
	;
}
 .dots-box button#color-17:hover {
	 box-shadow: 0 0 20px rgba(130, 224, 170 );
}



 .dots-wrapper button#color-18{
	 background-image: url(images/turquoise.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 9s;
}
 .dots-box:nth-child(18) .dot::before {
	 content: &#34;
	18&#34;
	;
}
 .dots-box button#color-18:hover {
	 box-shadow: 0 0 20px rgba(23, 165, 137);
}



 .dots-wrapper button#color-19{
	 background-color: #51b22f;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 9.5s;
}
 .dots-box:nth-child(19) .dot::before {
	 content: &#34;
	19&#34;
	;
}
 .dots-box button#color-19:hover {

	 box-shadow: 0 0 20px rgba(82, 190, 128); 
	}


 .dots-wrapper button#color-20{
	 background-color: #4a9e2b;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 10s;
}
 .dots-box:nth-child(20) .dot::before {
	 content: &#34;
	20&#34;
	;
}
 .dots-box button#color-20:hover {
	 box-shadow: 0 0 20px rgba(39, 174, 96 );
}


 .dots-wrapper button#color-21{
	 background-image: url(images/green.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 10.5s;
}
 .dots-box:nth-child(21) .dot::before {
	 content: &#34;
	21&#34;
	;
}
 .dots-box button#color-21:hover {
	 box-shadow: 0 0 20px rgba(34, 153, 84);
}


 .dots-wrapper button#color-22{
	 background-color:  #02370a;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 11s;
}
 .dots-box:nth-child(22) .dot::before {
	 content: &#34;
	22&#34;
	;
}
 .dots-box button#color-22:hover {
	 box-shadow: 0 0 20px rgba(11, 83, 69);
}
 .dots-wrapper button#color-23{
	 background-image: url(images/silver.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 11.5s;
}
 .dots-box:nth-child(23) .dot::before {
	 content: &#34;
	23&#34;
	;
}
 .dots-box button#color-23:hover {
	 box-shadow: 0 0 20px rgba(213, 216, 220);
}
 .dots-wrapper button#color-24{
	 background-image: url("images/gold.png");
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 12s;
}
 .dots-box:nth-child(24) .dot::before {
	 content: &#34;
	24&#34;
	;
}
 .dots-box button#color-24:hover {
	 box-shadow: 0 0 20px rgba(183, 149, 11);
}
 .dots-wrapper button#color-25{
	background-color: #924f8c;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 12.5s;
}
 .dots-box:nth-child(25) .dot::before {
	 content: &#34;
	25&#34;
	;
}
 .dots-box button#color-25:hover {
	 box-shadow: 0 0 20px rgba(175, 122, 197);
}
 .dots-wrapper button#color-26{
	 background-color: #701a50;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 13s;
}
 .dots-box:nth-child(26) .dot::before {
	 content: &#34;
	26&#34;
	;
}
 .dots-box button#color-26:hover {
	 box-shadow: 0 0 20px rgba(125, 60, 152);
}
 .dots-wrapper button#color-27{
	background-image: url(images/softpink.png);
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 13.5s;
}
 .dots-box:nth-child(27) .dot::before {
	 content: &#34;
	27&#34;
	;
}
 .dots-box button#color-27:hover {
	 box-shadow: 0 0 20px rgba(237, 180, 226);
}
 .dots-wrapper button#color-28{
	 background-color: #f62b56;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 14s;
}
 .dots-box:nth-child(28) .dot::before {
	 content: &#34;
	28&#34;
	;
}
 .dots-box button#color-28:hover {
	 box-shadow: 0 0 20px rgba(229, 41, 146);
}
 .dots-wrapper button#color-29{
	 background-color: #000000;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 14.5s;
}
 .dots-box:nth-child(29) .dot::before {
	 content: &#34;
	29&#34;
	;
}
 .dots-box button#color-29:hover {
	 box-shadow: 0 0 20px rgba(52, 50, 51);
}
 .dots-wrapper button#color-30{
	 background-color: #ffffff
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 15s;
}
 .dots-box:nth-child(30) .dot::before {
	 content: &#34;
	30&#34;
	;
}
 .dots-box button#color-30:hover {
	 box-shadow: 0 0 20px rgba(184, 181, 183);
}
 .dots-wrapper button#color-31{
	background-color: #000000;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 15.5s;
}
 .dots-box:nth-child(31) .dot::before {
	 content: &#34;
	31&#34;
	;
}
 .dots-box button#color-31:hover {
	 box-shadow: 0 0 20px rgba(52, 50, 51);
}
 .dots-wrapper button#color-32{
	background-color: #bf6d36;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 16s;
}
 .dots-box:nth-child(32) .dot::before {
	 content: &#34;
	32&#34;
	;
}
 .dots-box button#color-32:hover {
	 box-shadow: 0 0 20px rgba(197, 111, 1);
}
.dots-wrapper button#color-33{ 
	 background-color: #340c05;
	 animation: scale-up 1s cubic-bezier(0.39, 0.575, 0.565, 1) 16.5s;
}
 .dots-box:nth-child(33) .dot::before {
	 content: &#34;
	33&#34;
	;
}
 .dots-box button#color-33:hover {
	 box-shadow: 0 0 20px rgba(80, 47, 6 );
}